<h3>My equipments list</h3>
<hr>
<div class="d-flex justify-content-end mb-3">
  <a routerLink="/equipments/manage" class="btn btn-outline-primary">
    <i class="fas fa-plus"></i>&nbsp;New Equipment
  </a>
</div>
<div class="d-flex justify-content-start gap-4 flex-wrap">
  <app-equipment-card
    *ngFor="let equipment of equipmentResponse.content || []"
    [equipment]="equipment"
    [manage]="true"
    (archive)="archiveEquipment($event)"
    (share)="shareEquipment($event)"
    (edit)="editEquipment($event)"
  ></app-equipment-card>
</div>
<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a (click)="goToFirstPage()" class="page-link" href="javascript:void(0)" [class.disabled]="page === 0">
          <i class="fa-solid fa-angles-left"></i>
        </a>
      </li>
      <li class="page-item">
        <a (click)="goToPreviousPage()" class="page-link" href="javascript:void(0)" [class.disabled]="page === 0">
          <i class="fa-solid fa-angle-left"></i>
        </a>
      </li>
      <li class="page-item" *ngFor="let pageIndex of pages">
        <a (click)="goToPage(pageIndex)" class="page-link" [class.active]="page === pageIndex" href="javascript:void(0)">
          {{ pageIndex + 1 }}
        </a>
      </li>
      <li class="page-item">
        <a (click)="goToNextPage()" class="page-link" href="javascript:void(0)" [class.disabled]="isLastPage">
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="page-item">
        <a (click)="goToLastPage()" class="page-link" href="javascript:void(0)" [class.disabled]="isLastPage">
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
